{
    "openapi": "3.0.0",
    "info": {
      "title": "Sysdig Secure API",
      "description": "Sysdig Secure RESTful Documentation\n\n## Conventions\n### Access | Send | Receive\nAPI access is over HTTPS and accessed from:\n\n\nSaaS: See [SaaS Regions](https://docs.sysdig.com/en/saas-regions-and-ip-ranges.html) and IP Ranges for the URLs corresponding to different regions.\n\n\nFor example:\nSysdig Secure for US East: https://secure.sysdig.com\n\nSysdig Monitor for US West: https://us2.app.sysdig.com\n\nSysdig Secure for EU Central: https://eu1.app.sysdig.com/secure/\n\nSysdig Monitor for EU Central: https://eu1.app.sysdig.com\n\nOn-Prem: through your Sysdig application server address\n\n\nData is sent and received using `JSON` format.\n\n### Authorization\nThe Sysdig API token must be passed to the HTTPS server via the Authorization header with the format:\n\n`Authorization: Bearer [token]`\n\n### Encoding\nThe request should set the HTTP header:\n\n`Accept: application/json`\n\nEvery response is returned with the HTTP header\n\n`Content-Type: application/json;charset=UTF-8`\n\nTo reduce the size of the request and (primarily) the response, you can set the header to compress HTTP body and response:\n\n`Accept-Encoding:gzip, deflate, sdch`\n\n<SecurityDefinitions />\n",
      "version": "v2",
      "x-logo": {
        "url": "https://secure.sysdig.com/images/sds/sysdig-logo-horizontal.png"
      }
    },
    "externalDocs": {
      "description": "Sysdig Product Documentation",
      "url": "https://docs.sysdig.com"
    },
    "servers": [
      {
        "url": "https://secure.sysdig.com",
        "description": "Sysdig Secure API"
      }
    ],
    "paths": {
      "/api/v1/secure/overview/status": {
        "get": {
          "summary": "Check status of overview service.",
          "description": "Checks whether the overview service is available or not.",
          "tags": [
            "Overview"
          ],
          "responses": {
            "200": {
              "description": "Successfully returned status of overview service.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              }
            },
            "401": {
              "description": "Status Unauthorized: Returned when user is not authorized\n"
            },
            "403": {
              "description": "Status Forbidden: Returned when Overview V2 is disabled\n"
            }
          },
          "x-codeSamples": [
            {
              "lang": "Go",
              "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://secure.sysdig.com/api/v1/secure/overview/status\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "lang": "Curl",
              "source": "curl --request GET \\\n  --url https://secure.sysdig.com/api/v1/secure/overview/status"
            },
            {
              "lang": "Node",
              "source": "const request = require('request');\n\nconst options = {method: 'GET', url: 'https://secure.sysdig.com/api/v1/secure/overview/status'};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
            },
            {
              "lang": "Java",
              "source": "HttpResponse<String> response = Unirest.get(\"https://secure.sysdig.com/api/v1/secure/overview/status\")\n  .asString();"
            },
            {
              "lang": "Python",
              "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"secure.sysdig.com\")\n\nconn.request(\"GET\", \"/api/v1/secure/overview/status\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
            }
          ]
        }
      },
      "/api/v1/secure/overview": {
        "get": {
          "summary": "Datasource for the Secure Overview page.",
          "description": "Fetches overview data for a specified set of panels of the Secure Overview page. Customer ID is derived from API key.",
          "tags": [
            "Overview"
          ],
          "parameters": [
            {
              "name": "panel",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "buildtimeScanResults",
                  "buildtimeCveSeverity",
                  "runtimeScanResults",
                  "runtimeCveSeverity",
                  "policyEvents",
                  "benchmarks"
                ]
              },
              "description": "Comma seperated string of panel(s) for which to fetch metrics. Defaults to all panels if omitted.",
              "example": "buildtimeScanResults,runtimeScanResults,benchmarks"
            },
            {
              "name": "timeframe",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "instant",
                  "range"
                ]
              },
              "description": "Type of data to return. Either instant (Donut graphs) or range (Trend graphs). Defaults to both if omitted. If range data is included, a constant timeframe will be returned for all range data in the response, with a length of 90 days, or the number of days since customer creation, whichever is smaller."
            },
            {
              "name": "cluster",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Cluster name (Applies to runtimeScanResults and runtimeCveSeverity). Can be set to `non-k8s` to get data not associated with a kubernetes cluster (e.g. locally run Docker images. Omit to include all data (both k8s and non-k8s)"
            },
            {
              "name": "namespace",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Namespace name (Applies to runtimeScanResults and runtimeCveSeverity). Only available if `cluster` is set and valid. Omit to include all namespaces."
            }
          ],
          "responses": {
            "200": {
              "description": "Successfully returned overview data.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "buildtimeScanResults": {
                            "type": "object",
                            "properties": {
                              "instant": {
                                "type": "object",
                                "properties": {
                                  "pass": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  },
                                  "fail": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  }
                                }
                              },
                              "range": {
                                "type": "object",
                                "properties": {
                                  "pass": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  },
                                  "fail": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  }
                                }
                              },
                              "warnings": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "errors": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "buildtimeCveSeverity": {
                            "type": "object",
                            "properties": {
                              "instant": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  },
                                  "high": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  },
                                  "medium": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  },
                                  "low": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  }
                                }
                              },
                              "range": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  },
                                  "high": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  },
                                  "medium": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  },
                                  "low": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  }
                                }
                              },
                              "warnings": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "errors": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "runtimeScanResults": {
                            "type": "object",
                            "properties": {
                              "instant": {
                                "type": "object",
                                "properties": {
                                  "pass": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  },
                                  "fail": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  },
                                  "unscanned": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  }
                                }
                              },
                              "range": {
                                "type": "object",
                                "properties": {
                                  "pass": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  },
                                  "fail": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  },
                                  "unscanned": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  }
                                }
                              },
                              "warnings": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "errors": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "runtimeCveSeverity": {
                            "type": "object",
                            "properties": {
                              "instant": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  },
                                  "high": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  },
                                  "medium": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  },
                                  "low": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  }
                                }
                              },
                              "range": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  },
                                  "high": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  },
                                  "medium": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  },
                                  "low": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  }
                                }
                              },
                              "warnings": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "errors": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "policyEvents": {
                            "type": "object",
                            "properties": {
                              "instant": {
                                "type": "object",
                                "properties": {
                                  "high": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  },
                                  "medium": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  },
                                  "low": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  },
                                  "information": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  }
                                }
                              },
                              "range": {
                                "type": "object",
                                "properties": {
                                  "high": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  },
                                  "medium": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  },
                                  "low": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  },
                                  "information": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  }
                                }
                              },
                              "warnings": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "errors": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "benchmarks": {
                            "type": "object",
                            "properties": {
                              "instant": {
                                "type": "object",
                                "properties": {
                                  "docker": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  },
                                  "kubernetes": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  },
                                  "linux": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "format": "integer"
                                    },
                                    "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                    "example": [
                                      1554508800,
                                      32
                                    ]
                                  }
                                }
                              },
                              "range": {
                                "type": "object",
                                "properties": {
                                  "docker": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  },
                                  "kubernetes": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  },
                                  "linux": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "integer"
                                      },
                                      "description": "An array of two numbers representing a metric, where the first number is the unix timestamp in ms, and the second number is the metric value.",
                                      "example": [
                                        1554508800,
                                        32
                                      ]
                                    },
                                    "description": "An array of Instant objects representing a metric over a given time frame.",
                                    "example": [
                                      [
                                        1554508800,
                                        34
                                      ],
                                      [
                                        1586451864,
                                        3
                                      ]
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "time": {
                        "type": "object",
                        "properties": {
                          "from": {
                            "type": "number",
                            "format": "integer",
                            "description": "the earliest date in all returned timeseries as a unix timestamp in ms.",
                            "example": 1588801177000
                          },
                          "to": {
                            "type": "number",
                            "format": "integer",
                            "description": "the last date in the all returned timeseries as a unix timestamp in ms.",
                            "example": 1588883737000
                          },
                          "sampling": {
                            "type": "number",
                            "format": "integer",
                            "description": "the step size between subsequent datapoints in a timeseries in ms.",
                            "example": 960000
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Returned if panel, cluster or namespace are invalid.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "a human-readable description of the error",
                        "example": "startDate cannot be more than 90 days earlier than endDate"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Invalid or missing auth token"
            },
            "404": {
              "description": "No record found for customerId"
            }
          },
          "x-codeSamples": [
            {
              "lang": "Go",
              "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://secure.sysdig.com/api/v1/secure/overview?panel=SOME_STRING_VALUE&timeframe=SOME_STRING_VALUE&cluster=SOME_STRING_VALUE&namespace=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "lang": "Curl",
              "source": "curl --request GET \\\n  --url 'https://secure.sysdig.com/api/v1/secure/overview?panel=SOME_STRING_VALUE&timeframe=SOME_STRING_VALUE&cluster=SOME_STRING_VALUE&namespace=SOME_STRING_VALUE'"
            },
            {
              "lang": "Node",
              "source": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://secure.sysdig.com/api/v1/secure/overview',\n  qs: {\n    panel: 'SOME_STRING_VALUE',\n    timeframe: 'SOME_STRING_VALUE',\n    cluster: 'SOME_STRING_VALUE',\n    namespace: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
            },
            {
              "lang": "Java",
              "source": "HttpResponse<String> response = Unirest.get(\"https://secure.sysdig.com/api/v1/secure/overview?panel=SOME_STRING_VALUE&timeframe=SOME_STRING_VALUE&cluster=SOME_STRING_VALUE&namespace=SOME_STRING_VALUE\")\n  .asString();"
            },
            {
              "lang": "Python",
              "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"secure.sysdig.com\")\n\nconn.request(\"GET\", \"/api/v1/secure/overview?panel=SOME_STRING_VALUE&timeframe=SOME_STRING_VALUE&cluster=SOME_STRING_VALUE&namespace=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
            }
          ]
        }
      },
      "/api/benchmarks/v2/status": {
        "get": {
          "tags": [
            "Benchmarks V2"
          ],
          "summary": "Status",
          "description": "Checks the availability of the Benchmarks V2 API. If Benchmarks V2 is disabled for the customer, and no Cloud Benchmark results are available, this endpoint will return a 403. If Benchmarks V2 is disabled for the customer, but Cloud Benchmark results are available, this endpoint will return 200 with a dummy TaskId in the response body to be used to request the Cloud Benchmark results. Finally, if Benchmark V2 is enabled, this endpoint will return a 200 with no body.\n",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "dummyCloudTaskId": {
                        "type": "string",
                        "example": "123",
                        "description": "This task Id is not a real task, but is used to request Cloud Benchmark results. If there are no Cloud Benchmark results available, this endpoint will return a `403 STATUS FORBIDDEN` instead.\n"
                      }
                    }
                  }
                }
              }
            },
            "403": {
              "description": "Status Forbidden: Returned when Benchmarks V2 is disabled, and there are no Cloud Benchmark Results available. FE should hide the Benchmarks V2 UI.\n"
            }
          },
          "x-codeSamples": [
            {
              "lang": "Go",
              "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://secure.sysdig.com/api/benchmarks/v2/status\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "lang": "Curl",
              "source": "curl --request GET \\\n  --url https://secure.sysdig.com/api/benchmarks/v2/status"
            },
            {
              "lang": "Node",
              "source": "const request = require('request');\n\nconst options = {method: 'GET', url: 'https://secure.sysdig.com/api/benchmarks/v2/status'};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
            },
            {
              "lang": "Java",
              "source": "HttpResponse<String> response = Unirest.get(\"https://secure.sysdig.com/api/benchmarks/v2/status\")\n  .asString();"
            },
            {
              "lang": "Python",
              "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"secure.sysdig.com\")\n\nconn.request(\"GET\", \"/api/benchmarks/v2/status\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
            }
          ]
        }
      },
      "/api/benchmarks/v2/scopeOptions": {
        "get": {
          "tags": [
            "Benchmarks V2"
          ],
          "summary": "Scope Options",
          "description": "Returns the list of available Scope Labels and Operators that can be used when creating a Benchmark Task. If an optional 'schema' query param is provided, only Scope Labels relevant to that schema are returned, otherwise all possible Scope Labels are returned.\n",
          "parameters": [
            {
              "name": "schema",
              "in": "query",
              "description": "Fetch the Scope Labels and Operators for this schema. Use a value returned from `/benchmarks/v2/schemas`",
              "required": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "labels": {
                        "type": "array",
                        "description": "A list of supported Scope Labels",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "host.hostName",
                          "host.mac",
                          "aws.account_id",
                          "aws.region",
                          "aws.instance_id",
                          "kubernetes.cluster.name",
                          "kubernetes.node.name"
                        ]
                      },
                      "operators": {
                        "type": "array",
                        "description": "A list of supported Scope Operators",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "in",
                          "equals"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "x-codeSamples": [
            {
              "lang": "Go",
              "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://secure.sysdig.com/api/benchmarks/v2/scopeOptions?schema=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "lang": "Curl",
              "source": "curl --request GET \\\n  --url 'https://secure.sysdig.com/api/benchmarks/v2/scopeOptions?schema=SOME_STRING_VALUE'"
            },
            {
              "lang": "Node",
              "source": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://secure.sysdig.com/api/benchmarks/v2/scopeOptions',\n  qs: {schema: 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
            },
            {
              "lang": "Java",
              "source": "HttpResponse<String> response = Unirest.get(\"https://secure.sysdig.com/api/benchmarks/v2/scopeOptions?schema=SOME_STRING_VALUE\")\n  .asString();"
            },
            {
              "lang": "Python",
              "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"secure.sysdig.com\")\n\nconn.request(\"GET\", \"/api/benchmarks/v2/scopeOptions?schema=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
            }
          ]
        }
      },
      "/api/benchmarks/v2/schemas": {
        "get": {
          "tags": [
            "Benchmarks V2"
          ],
          "summary": "List Schemas",
          "description": "Returns the list of available Benchmark Schemas.",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "schema": {
                          "type": "string",
                          "description": "The internal Schema identifier"
                        },
                        "displayName": {
                          "type": "string",
                          "description": "The Schema display name"
                        },
                        "link": {
                          "type": "string",
                          "description": "A link to the official standard"
                        }
                      }
                    },
                    "example": [
                      {
                        "schema": "kube_bench_cis-1.5",
                        "displayName": "CIS Kubernetes Benchmark 1.5",
                        "link": "https://www.cisecurity.org/benchmark/kubernetes/"
                      },
                      {
                        "schema": "kube_bench_cis-1.6",
                        "displayName": "CIS Kubernetes Benchmark 1.6",
                        "link": "https://www.cisecurity.org/benchmark/kubernetes/"
                      }
                    ]
                  }
                }
              }
            }
          },
          "x-codeSamples": [
            {
              "lang": "Go",
              "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://secure.sysdig.com/api/benchmarks/v2/schemas\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "lang": "Curl",
              "source": "curl --request GET \\\n  --url https://secure.sysdig.com/api/benchmarks/v2/schemas"
            },
            {
              "lang": "Node",
              "source": "const request = require('request');\n\nconst options = {method: 'GET', url: 'https://secure.sysdig.com/api/benchmarks/v2/schemas'};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
            },
            {
              "lang": "Java",
              "source": "HttpResponse<String> response = Unirest.get(\"https://secure.sysdig.com/api/benchmarks/v2/schemas\")\n  .asString();"
            },
            {
              "lang": "Python",
              "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"secure.sysdig.com\")\n\nconn.request(\"GET\", \"/api/benchmarks/v2/schemas\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
            }
          ]
        }
      },
      "/api/benchmarks/v2/schemas/{schemaId}": {
        "get": {
          "tags": [
            "Benchmarks V2"
          ],
          "summary": "Get Schema Controls",
          "description": "Returns the list of Controls in a given Benchmark Schemas grouped by Family.",
          "parameters": [
            {
              "name": "schemaId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "familyId": {
                          "type": "string",
                          "description": "The ID of the family."
                        },
                        "title": {
                          "type": "string",
                          "description": "The Title (name) of the family."
                        },
                        "controls": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "controlId": {
                                "type": "string",
                                "description": "The ID of the control."
                              },
                              "title": {
                                "type": "string",
                                "description": "The Title (name) of the control."
                              },
                              "level": {
                                "type": "string",
                                "description": "The CIS Level of the control."
                              }
                            }
                          }
                        }
                      }
                    },
                    "example": [
                      {
                        "familyId": "1.1",
                        "title": "Master Node Configuration Files",
                        "controls": [
                          {
                            "controlId": "1.1.1",
                            "title": "Ensure that the API server pod specification file permissions are set to 644 or more restrictive",
                            "level": "Level 1"
                          },
                          {
                            "controlId": "1.1.2",
                            "title": "Ensure that the API server pod specification file ownership is set to root:root",
                            "level": "Level 1"
                          }
                        ]
                      },
                      {
                        "familyId": "1.2",
                        "title": "API Server",
                        "controls": [
                          {
                            "controlId": "1.2.1",
                            "title": "Ensure that the --anonymous-auth argument is set to false",
                            "level": "Level 1"
                          },
                          {
                            "controlId": "1.2.2",
                            "title": "Ensure that the --basic-auth-file argument is not set",
                            "level": "Level 1"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "x-codeSamples": [
            {
              "lang": "Go",
              "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://secure.sysdig.com/api/benchmarks/v2/schemas/%7BschemaId%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "lang": "Curl",
              "source": "curl --request GET \\\n  --url https://secure.sysdig.com/api/benchmarks/v2/schemas/%7BschemaId%7D"
            },
            {
              "lang": "Node",
              "source": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://secure.sysdig.com/api/benchmarks/v2/schemas/%7BschemaId%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
            },
            {
              "lang": "Java",
              "source": "HttpResponse<String> response = Unirest.get(\"https://secure.sysdig.com/api/benchmarks/v2/schemas/%7BschemaId%7D\")\n  .asString();"
            },
            {
              "lang": "Python",
              "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"secure.sysdig.com\")\n\nconn.request(\"GET\", \"/api/benchmarks/v2/schemas/%7BschemaId%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
            }
          ]
        }
      },
      "/api/benchmarks/v2/tasks": {
        "get": {
          "tags": [
            "Benchmarks V2"
          ],
          "summary": "List Tasks",
          "description": "Fetches a list of Benchmark Tasks",
          "parameters": [
            {
              "name": "filter",
              "in": "query",
              "description": "Free text filter. Searches the following fields: `name`, `scope`",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "schema",
              "in": "query",
              "description": "Filter by schema. Valid list returned by `/schemas` endpoint.",
              "required": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "name",
                            "schedule",
                            "schema"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Kube-bench Production"
                            },
                            "schedule": {
                              "type": "string",
                              "pattern": "^[0-9*/,-]+ [0-9*/,-]+ [0-9*/,-]+ [0-9*/,-]+ [0-9*/,-]+$",
                              "description": "A cron-like expression representing a frequency.",
                              "example": "0 9 * * 1"
                            },
                            "schema": {
                              "type": "string",
                              "description": "Benchmark Schema",
                              "enum": [
                                "kube_bench_cis-1.5",
                                "kube_bench_cis-1.6",
                                "kube_bench_gke-1.0",
                                "kube_bench_eks-1.0",
                                "kube_bench_rh-0.7",
                                "linux_bench_cis-1.1",
                                "docker_bench_security_1.0",
                                "aws_foundations_bench-1.3"
                              ]
                            },
                            "scope": {
                              "type": "string",
                              "example": "kubernetes.cluster.name=\"production\"\n"
                            },
                            "enabled": {
                              "type": "boolean",
                              "default": false
                            },
                            "excludeControlList": {
                              "type": "array",
                              "description": "A list of controlIDs to be excluded",
                              "items": {
                                "type": "string"
                              },
                              "example": [
                                "1.1.1.a",
                                "1.2.2"
                              ]
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "id",
                            "createdOn",
                            "modifiedOn"
                          ],
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1
                            },
                            "createdOn": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "modifiedOn": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "lastRunOn": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Invalid or missing auth token."
            },
            "500": {
              "description": "The server encountered an unexpected condition that prevented it from\nfulfilling the request.\n"
            }
          },
          "x-codeSamples": [
            {
              "lang": "Go",
              "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://secure.sysdig.com/api/benchmarks/v2/tasks?filter=SOME_STRING_VALUE&schema=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "lang": "Curl",
              "source": "curl --request GET \\\n  --url 'https://secure.sysdig.com/api/benchmarks/v2/tasks?filter=SOME_STRING_VALUE&schema=SOME_STRING_VALUE'"
            },
            {
              "lang": "Node",
              "source": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://secure.sysdig.com/api/benchmarks/v2/tasks',\n  qs: {filter: 'SOME_STRING_VALUE', schema: 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
            },
            {
              "lang": "Java",
              "source": "HttpResponse<String> response = Unirest.get(\"https://secure.sysdig.com/api/benchmarks/v2/tasks?filter=SOME_STRING_VALUE&schema=SOME_STRING_VALUE\")\n  .asString();"
            },
            {
              "lang": "Python",
              "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"secure.sysdig.com\")\n\nconn.request(\"GET\", \"/api/benchmarks/v2/tasks?filter=SOME_STRING_VALUE&schema=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
            }
          ]
        },
        "post": {
          "tags": [
            "Benchmarks V2"
          ],
          "summary": "Create Task",
          "description": "Create a new Benchmark Task",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name",
                    "schedule",
                    "schema"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Kube-bench Production"
                    },
                    "schedule": {
                      "type": "string",
                      "pattern": "^[0-9*/,-]+ [0-9*/,-]+ [0-9*/,-]+ [0-9*/,-]+ [0-9*/,-]+$",
                      "description": "A cron-like expression representing a frequency.",
                      "example": "0 9 * * 1"
                    },
                    "schema": {
                      "type": "string",
                      "description": "Benchmark Schema",
                      "enum": [
                        "kube_bench_cis-1.5",
                        "kube_bench_cis-1.6",
                        "kube_bench_gke-1.0",
                        "kube_bench_eks-1.0",
                        "kube_bench_rh-0.7",
                        "linux_bench_cis-1.1",
                        "docker_bench_security_1.0",
                        "aws_foundations_bench-1.3"
                      ]
                    },
                    "scope": {
                      "type": "string",
                      "example": "kubernetes.cluster.name=\"production\"\n"
                    },
                    "enabled": {
                      "type": "boolean",
                      "default": false
                    },
                    "excludeControlList": {
                      "type": "array",
                      "description": "A list of controlIDs to be excluded",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "1.1.1.a",
                        "1.2.2"
                      ]
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "type": "object",
                        "required": [
                          "name",
                          "schedule",
                          "schema"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Kube-bench Production"
                          },
                          "schedule": {
                            "type": "string",
                            "pattern": "^[0-9*/,-]+ [0-9*/,-]+ [0-9*/,-]+ [0-9*/,-]+ [0-9*/,-]+$",
                            "description": "A cron-like expression representing a frequency.",
                            "example": "0 9 * * 1"
                          },
                          "schema": {
                            "type": "string",
                            "description": "Benchmark Schema",
                            "enum": [
                              "kube_bench_cis-1.5",
                              "kube_bench_cis-1.6",
                              "kube_bench_gke-1.0",
                              "kube_bench_eks-1.0",
                              "kube_bench_rh-0.7",
                              "linux_bench_cis-1.1",
                              "docker_bench_security_1.0",
                              "aws_foundations_bench-1.3"
                            ]
                          },
                          "scope": {
                            "type": "string",
                            "example": "kubernetes.cluster.name=\"production\"\n"
                          },
                          "enabled": {
                            "type": "boolean",
                            "default": false
                          },
                          "excludeControlList": {
                            "type": "array",
                            "description": "A list of controlIDs to be excluded",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "1.1.1.a",
                              "1.2.2"
                            ]
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "id",
                          "createdOn",
                          "modifiedOn"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastRunOn": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "The given request is invalid."
            },
            "401": {
              "description": "Invalid or missing auth token."
            },
            "500": {
              "description": "The server encountered an unexpected condition that prevented it from\nfulfilling the request.\n"
            }
          },
          "x-codeSamples": [
            {
              "lang": "Go",
              "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://secure.sysdig.com/api/benchmarks/v2/tasks\"\n\n\tpayload := strings.NewReader(\"{\\\"name\\\":\\\"Kube-bench Production\\\",\\\"schedule\\\":\\\"0 9 * * 1\\\",\\\"schema\\\":\\\"kube_bench_cis-1.5\\\",\\\"scope\\\":\\\"kubernetes.cluster.name=\\\\\\\"production\\\\\\\"\\\\n\\\",\\\"enabled\\\":false,\\\"excludeControlList\\\":[\\\"1.1.1.a\\\",\\\"1.2.2\\\"]}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "lang": "Curl",
              "source": "curl --request POST \\\n  --url https://secure.sysdig.com/api/benchmarks/v2/tasks \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"Kube-bench Production\",\"schedule\":\"0 9 * * 1\",\"schema\":\"kube_bench_cis-1.5\",\"scope\":\"kubernetes.cluster.name=\\\"production\\\"\\n\",\"enabled\":false,\"excludeControlList\":[\"1.1.1.a\",\"1.2.2\"]}'"
            },
            {
              "lang": "Node",
              "source": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://secure.sysdig.com/api/benchmarks/v2/tasks',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'Kube-bench Production',\n    schedule: '0 9 * * 1',\n    schema: 'kube_bench_cis-1.5',\n    scope: 'kubernetes.cluster.name=\"production\"\\n',\n    enabled: false,\n    excludeControlList: ['1.1.1.a', '1.2.2']\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
            },
            {
              "lang": "Java",
              "source": "HttpResponse<String> response = Unirest.post(\"https://secure.sysdig.com/api/benchmarks/v2/tasks\")\n  .header(\"content-type\", \"application/json\")\n  .body(\"{\\\"name\\\":\\\"Kube-bench Production\\\",\\\"schedule\\\":\\\"0 9 * * 1\\\",\\\"schema\\\":\\\"kube_bench_cis-1.5\\\",\\\"scope\\\":\\\"kubernetes.cluster.name=\\\\\\\"production\\\\\\\"\\\\n\\\",\\\"enabled\\\":false,\\\"excludeControlList\\\":[\\\"1.1.1.a\\\",\\\"1.2.2\\\"]}\")\n  .asString();"
            },
            {
              "lang": "Python",
              "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"secure.sysdig.com\")\n\npayload = \"{\\\"name\\\":\\\"Kube-bench Production\\\",\\\"schedule\\\":\\\"0 9 * * 1\\\",\\\"schema\\\":\\\"kube_bench_cis-1.5\\\",\\\"scope\\\":\\\"kubernetes.cluster.name=\\\\\\\"production\\\\\\\"\\\\n\\\",\\\"enabled\\\":false,\\\"excludeControlList\\\":[\\\"1.1.1.a\\\",\\\"1.2.2\\\"]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/api/benchmarks/v2/tasks\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
            }
          ]
        }
      },
      "/api/benchmarks/v2/tasks/{taskId}": {
        "get": {
          "tags": [
            "Benchmarks V2"
          ],
          "summary": "Get Task",
          "description": "Fetches a Benchmark Task by Id",
          "parameters": [
            {
              "name": "taskId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "number"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "type": "object",
                        "required": [
                          "name",
                          "schedule",
                          "schema"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Kube-bench Production"
                          },
                          "schedule": {
                            "type": "string",
                            "pattern": "^[0-9*/,-]+ [0-9*/,-]+ [0-9*/,-]+ [0-9*/,-]+ [0-9*/,-]+$",
                            "description": "A cron-like expression representing a frequency.",
                            "example": "0 9 * * 1"
                          },
                          "schema": {
                            "type": "string",
                            "description": "Benchmark Schema",
                            "enum": [
                              "kube_bench_cis-1.5",
                              "kube_bench_cis-1.6",
                              "kube_bench_gke-1.0",
                              "kube_bench_eks-1.0",
                              "kube_bench_rh-0.7",
                              "linux_bench_cis-1.1",
                              "docker_bench_security_1.0",
                              "aws_foundations_bench-1.3"
                            ]
                          },
                          "scope": {
                            "type": "string",
                            "example": "kubernetes.cluster.name=\"production\"\n"
                          },
                          "enabled": {
                            "type": "boolean",
                            "default": false
                          },
                          "excludeControlList": {
                            "type": "array",
                            "description": "A list of controlIDs to be excluded",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "1.1.1.a",
                              "1.2.2"
                            ]
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "id",
                          "createdOn",
                          "modifiedOn"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastRunOn": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "The given request is invalid."
            },
            "401": {
              "description": "Invalid or missing auth token."
            },
            "500": {
              "description": "The server encountered an unexpected condition that prevented it from\nfulfilling the request.\n"
            }
          },
          "x-codeSamples": [
            {
              "lang": "Go",
              "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://secure.sysdig.com/api/benchmarks/v2/tasks/%7BtaskId%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "lang": "Curl",
              "source": "curl --request GET \\\n  --url https://secure.sysdig.com/api/benchmarks/v2/tasks/%7BtaskId%7D"
            },
            {
              "lang": "Node",
              "source": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://secure.sysdig.com/api/benchmarks/v2/tasks/%7BtaskId%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
            },
            {
              "lang": "Java",
              "source": "HttpResponse<String> response = Unirest.get(\"https://secure.sysdig.com/api/benchmarks/v2/tasks/%7BtaskId%7D\")\n  .asString();"
            },
            {
              "lang": "Python",
              "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"secure.sysdig.com\")\n\nconn.request(\"GET\", \"/api/benchmarks/v2/tasks/%7BtaskId%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
            }
          ]
        },
        "delete": {
          "tags": [
            "Benchmarks V2"
          ],
          "summary": "Delete Task",
          "description": "Delete Benchmark Task with specified task Id. If task has results then the result must be deleted before deleting the task",
          "parameters": [
            {
              "name": "taskId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "number"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "x-codeSamples": [
            {
              "lang": "Go",
              "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://secure.sysdig.com/api/benchmarks/v2/tasks/%7BtaskId%7D\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "lang": "Curl",
              "source": "curl --request DELETE \\\n  --url https://secure.sysdig.com/api/benchmarks/v2/tasks/%7BtaskId%7D"
            },
            {
              "lang": "Node",
[...]
